<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884425096664-bltlv32dcieogm1miom682rnh3vpbrtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884425096664-bltlv32dcieogm1miom682rnh3vpbrtv</string>
	<key>API_KEY</key>
	<string>AIzaSyBV7Fwl29-IoTiMrYSTBwdpdCEAGUjQUHA</string>
	<key>GCM_SENDER_ID</key>
	<string>884425096664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanerzurumlu.toDoAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>todoapp-87165</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-87165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884425096664:ios:593c8a67d60fba9d2306ad</string>
</dict>
</plist>